* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Cores */
:root{
    --azul-escuro: #2473D9;
    --azul-claro: #EFFAFD;
    --preto: #000000;
    --branco: #FFFFFF;
}

/* Fontes */
.montserrat-alternates {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.montserrat-alternates-semibold {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
.lilita-one-regular {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
  }
/* Funções Básicas */
.d-flex{
    display: flex;
}
.s-between{
    justify-content: space-between;
}
.s-around{
    justify-content: space-around;
}
.s-evenly{
    justify-content: space-evenly;
}
.p-absolute{
    position: absolute;
}
.p-relative{
    position: relative;
}
.center-y{
    align-items: center;
}
.space-sm{
    width: 30px;
}
.space-sm-y{
    height: 30px;
}
.space-med-y{
    height: 50px;
}
.f-wrap{
    flex-wrap: wrap;
}

/* Header */

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header > div {
    display: flex;
    align-items: center;
    position: relative;
}

input {
    background: url('../img/lupa.png') no-repeat left center;
    background-size: 45px;
    padding-left: 45px;
    padding-right: 35px;
    height: 35px;
    width: 550px;   
    border-radius: 15px;
    border: 2px solid var(--preto);
}

#avancada {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url('../img/avancadas.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
}
nav img{
    height: 50px;
}
.divisor-line{
    height: 2px;
    background-color: var(--azul-escuro);
    box-shadow: 0 10px 3px -2px rgba(0, 0, 0, 0.25);
    position: relative;
}
.divisor-line::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 5px;
    background: rgba(0, 0, 0, 0.2);
    filter: blur(3px);
}
/* Main  */

.background-blue{
    background-color: var(--azul-claro);
}
.size-titles{
    font-size: 30px;
    margin-left: 50px;
}
.border-book{
    position: relative;
    width: 175px;
    height: 275px;
    border: double 5px transparent;
    border-radius: 20px;
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #2473D9, #7B00FF);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-top: 10px;
}
.border-book img{
    border-radius: 15px;
    height: 275px;
}
.border-book2{
    position: relative;
    width: 250px;
    height: 375px;
    border: double 5px transparent;
    border-radius: 20px;
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #2473D9, #7B00FF);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-top: 10px;
    margin-left: 50px;
}
.border-book2 img{
    border-radius: 15px;
    height: 375px;
}
.book-title-formatation2{
    font-size: x-large;
    margin-top: 2px;
    text-align: center;
    width: 250px;
}
.book-title-formatation{
    font-size: larger;
    margin-top: 2px;
    text-align: center;
    width: 175px;
}
.book-color-name{
    color: var(--azul-escuro);
}
.rank {
    position: absolute;
    top: 140px; 
    transform: translateX(-50%);
    font-size: 225px; 
    font-weight: bold;
    background: linear-gradient(to bottom, #2473D9, #7B00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Footer */

.oval{
    height: 100px;
    background-color: var(--branco);
    border-radius: 50% 50% 0% 0%;
}
.texto-invertido {
    direction: rtl;
    text-align: justify;
}
.icon-footer{
    height: 50px;
}
.padding-left-footer{
    padding-left: 10px;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
}

/* owl */
.owl-nav {
    position: absolute;
    top: 50%; 
    width: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between; 
    pointer-events: none; 
}

.owl-prev, .owl-next {
    background: rgba(0, 0, 0, 0.5) !important; 
    color: white !important; 
    border-radius: 50%; 
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    pointer-events: all; 
}
 

.owl-prev:hover, .owl-next:hover {
    background: rgba(0, 0, 0, 0.8) !important;
}
